
module.exports = {

    init: function(doneCallbackFunc) {

        // call function 'doneCallbackFunc' after you finish everything you need to be done with initialization
    },

    run: function(job, build, callback) {

        // call the 'callback' function once you finished here
    }
};
