{
  "conf": {
    "log4js": {
      "appenders": [
        {"type": "console"},
        {"type": "file", "filename": "faf-build-metrics-importer.log"}
      ],
      "levels": {
        "flow": "info",
        "main": "error",
        "coverageProcessor": "error",
        "timeProcessor": "error"
      }
    },
    "interval": 300000,
    "jenkins": {
      "usr": "",
      "pwd": "",
      "url": "build-master-fafj.jaspersoft.com",
      "ignore": [
        "qa-visualize",
        "env-backup-jenkins"
      ]
    },
    "pg": {
      "usr": "postgres",
      "pwd": "postgres",
      "host": "localhost",
      "db_name": "tmp1"
    }
  }
}