{
  "conf": {
    "log4js": {
      "appenders": [
        {"type": "console"},
        {"type": "file", "filename": "faf-build-metrics-importer.log"}
      ],
      "levels": {
        "flow": "info",
        "main": "error",
        "coverageProcessor": "error",
        "timeProcessor": "error",
        "sizeProcessor": "error"
      }
    },
    "interval": 300000,
    "pg": {
      "usr": "postgres",
      "pwd": "postgres",
      "host": "localhost",
      "db_name": "tmp1"
    }
  }
}